/*================ FONTS ===========*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&family=Inclusive+Sans&family=Moon+Dance&family=Public+Sans:wght@400;500&display=swap');

html {
	font-size: 62.5%;
	font-family: 'Public Sans', 'Gill Sans', 'Gill Sans MT', sans-serif;
	scroll-behavior: smooth;
	height: 100%;
}


body {
	overflow-x: hidden;
	font-size: 1.6rem;
	background-color: rgb(220, 220, 220, 0.4);
	position: relative;
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a,
a:link {
	text-decoration: none;
	color: inherit;
}

.error {
	color: orangered;
	margin: 0.5rem 1rem;
}

.success {
	color: green;
	margin: 0.5rem 1rem;
}

/*============== GENERAL BUTTON STYLES ============*/
.btn {
	color: white;
	font-size: 2rem;
	text-transform: capitalize;
	font-weight: 700;
	text-align: center;
	min-width: 15rem;
	padding: 1.5rem 3rem;
	margin: 2rem auto;
	border: 2px solid rgb(24, 23, 23);
	background-color: rgb(24, 23, 23);
	cursor: pointer;
	border-radius: 5rem;
	transition: all 0.4s;
	transform-origin: left;
}

.faded {
	color: rgba(92, 90, 90, 0.8);
}

.header {
	width: 60%;
	margin-left: auto;
	align-self: flex-end;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	padding-right: 2rem;
	padding-top: 2rem;
}
/*================= NAVBAR TOGGLE ==============*/
.toggle {
	display: inline-block;
	background-image: url('../images/icon-close.svg');
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
	width: 3rem;
	height: 2rem;
	margin-left: auto;
	margin-top: 2rem;
	cursor: pointer;
}
.toggle.active {
	display: inline-block;
	background-image: url('../images/icon-hamburger.svg');
	background-size: cover;
	width: 3rem;
	height: 2rem;
	padding-right: 2rem;
	padding-top: 2rem;
}

/*================= NAVBAR ==============*/
.navigation {
	position: absolute;
	display: flex;
	flex-direction: column;
	padding: 2rem;
	gap: 2rem;
	max-width: 70%;
	top: 4rem;
	right: 4rem;
	border-radius: 1rem;
	background-color: rgb(233, 230, 230);
	z-index: 3;
}

.navigation-link {
	text-align: center;
	text-transform: capitalize;
	transition: all 0.4s ease-in-out;
}

/*=============== BODY =====================*/
body {
	background-color: #e9e1e1;
}

.main {
	margin-inline: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.container {
	width: 100%;
	background-color: #000;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* push main page content to center */
.white-wrapper, .txt-content, .footer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	max-width: 60rem;
	margin-inline: auto;
	padding: 2rem;
}

.white-wrapper {
	margin-top: -5rem;
	padding-inline: 0;
	z-index: -1;
}


.heading {
	display: flex;
	flex-direction: column;
	font-size: 1.4rem;
	line-height: 1;
	font-weight: bold;
	margin-top: 2rem;
	padding-inline: 2rem;
	text-align: center;
}

.heavy {
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 2rem;
	font-size: 3rem;
	font-family: 'Fira Code', monospace;
	color: #696868;
	
}

.light {
	text-transform: capitalize;
	font-size: 2.5rem;
	font-family: 'Moon Dance', 'Helvetica Neue', sans-serif;
	font-style: italic;
	padding-top: 1rem;
}

.img__wrapper {
	width: 100%;
}

.main__img {
	width: 100%;
	object-fit: contain;
	/* border-radius: .5rem 5rem .5rem 5rem; */
}

.main-txt {
	display: flex;
	position: relative;
	margin-top: 2rem;
	z-index: 1;
}

/* .main-txt::after, */
.main-txt::before {
	display: flex;
	font-size: 25rem;
	font-family: 'Inclusive Sans', sans-serif;
	position: absolute;
	z-index: -1;
	opacity: .5;
	color: #5e5c5c;
}
.main-txt::before {
	content: open-quote;
	left: -1rem;
	top: -7rem;
}

/* .main-txt::after {
	content: close-quote;
	right: -2rem;
	bottom: -8rem;
} */

/* BIBLE VERSE QUOTE */
.quote-txt {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-style: italic;
	font-size: 1.7rem;
	font-weight: 300;
	margin-block: 4rem 2rem;
}

.verse {
	font-weight: bold;
}

/* BTN */
.show-modal {
	font-size: 3rem;
	padding: 1rem 3rem;
}

.footer {
	margin-block: 4rem 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

.txt-content, .footer {
	background-color: #000;
	color: rgb(221, 217, 217);
	width: 100%;
}

/*============ SOCIAL ICONS ================== */
.socials {
	width: 100%;
	padding: 1rem;
	display: flex;
	gap: 2rem;
	justify-content: center;
	align-items: center;
}

.socials__link {
	margin-right: 1rem;
	display: inline-block;
}

.social__link--icon {
	width: 3rem;
	aspect-ratio: 1/1;
	border-radius: .5rem;
	transition: all 0.2s ease-in-out;
	transform-origin: left;
	object-fit: fill;
}

.social__link--icon:hover {
	transform: scale(1.2) ;
}

/* ============ FORM ============== */
.form-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-self: center;
	background-color: #807e7e;
	position: fixed;
	inset: 0;
	z-index: 5;
	transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s;
}

.form-content {
	background-color: #fff;
	width: 100%;
	max-width: 75rem;
	margin-inline: auto;
	padding: 4rem;
	position: relative;
}

/* =============== FORM MODAL =============*/
.close-modal {
	position: relative;
	right: 0;
	top: 2rem;
	margin-block: 2rem;
	display: flex;
	justify-content: end;
}

.close-btn {
	width: 2rem;
	aspect-ratio: 1/1;
	cursor: pointer;
}

.form {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-inline: auto;
}

/* ============ FORM HEADING ===========*/
.heading {
	font-size: 2.5rem;
	margin-bottom: 4rem;
}

.form__item {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.7rem;
	margin-bottom: 2rem;
}

.form__item--label {
	text-transform: capitalize;
	/* padding-left: 1rem; */
}

.form__item--input, .country-code-input,
#country {
	height: 4rem;
	width: 100%;
	padding: 0.5rem;
	font-size: 1.6rem;
	border-radius: 0.5rem;
	border: 2px solid;
	outline: unset;
}

.tel-input-wrapper {
	display: grid;
	grid-template-columns: 8rem auto;
	align-items: stretch;
	gap: 1rem;
	width: 100%;
	height: 100%;
}

.form__item--input::placeholder {
	font-size: 1.4rem;
}

.form-btn {
	margin-top: 4rem;
	border-radius: 1rem;
}

/*============== UTILITY CLASS ==========*/
/* moved to bottom to override other declarations */
/* without the need for increasing specificity */
.hidden {
	display: none;
}

/*============= MEDIA QUERIES ===========*/
@media screen and (min-width: 720px) {
	.btn:hover {
		background-color: transparent;
		color: rgb(24, 23, 23);
	}

	.toggle,
	.toggle.active  {
		display: none;
	}

	.navigation,
	.navigation.hidden {
		flex-direction: row;
		display: flex;
		position: unset;
		z-index: unset;
		background-color: transparent;
		margin-right: 2rem;
		width: max-content;
	}

	.navigation-link {
		font-size: 1.8rem;
	}

	.navigation-link:hover {
		border-bottom: 2px solid rgb(23, 23, 24);
		padding-bottom: 0;
	}

}
