/*================ PUBLIC SANS (FONT) ===========*/
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

html {
	font-size: 62.5%;
	font-family: 'Public Sans', 'Gill Sans', 'Gill Sans MT', sans-serif;
	scroll-behavior: smooth;
	height: 100%;
}

body {
	overflow-x: hidden;
	font-size: 1.6rem;
	background-color: rgb(220, 220, 220, 0.4);
	position: relative;
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a,
a:link {
	text-decoration: none;
	color: inherit;
}

.error {
	color: orangered;
	margin: 0.5rem 1rem;
}

.success {
	color: green;
	margin: 0.5rem 1rem;
}

/*============== GENERAL BUTTON STYLES ============*/
.btn {
	color: white;
	font-size: 2rem;
	text-transform: capitalize;
	font-weight: 700;
	text-align: center;
	min-width: 15rem;
	padding: 1.5rem 3rem;
	margin: auto 2rem 2rem;
	border: 2px solid rgb(24, 23, 23);
	background-color: rgb(24, 23, 23);
	cursor: pointer;
	border-radius: 0.5rem;
	transition: all 0.4s;
	transform-origin: left;
}

.faded {
	color: rgba(92, 90, 90, 0.8);
}

.header {
	width: 60%;
	margin-left: auto;
	align-self: flex-end;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}

/*================= NAVBAR TOGGLE ==============*/
.toggle {
	display: inline-block;
	background-image: url('../images/icon-close.svg');
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
	width: 3rem;
	height: 2rem;
	margin-left: auto;
	margin-top: 2rem;
	cursor: pointer;
}
.toggle.active {
	display: inline-block;
	background-image: url('../images/icon-hamburger.svg');
	background-size: cover;
	width: 3rem;
	height: 2rem;
}

/*================= NAVBAR ==============*/
.navigation {
	position: absolute;
	display: flex;
	flex-direction: column;
	padding: 2rem;
	gap: 2rem;
	max-width: 70%;
	top: 4rem;
	right: 4rem;
	border-radius: 1rem;
	background-color: rgb(233, 230, 230);
	z-index: 50;
}
.navigation-link {
	text-align: center;
	text-transform: capitalize;
	transition: all 0.4s ease-in-out;
}

/*=============== BODY =====================*/
#home {
	position: absolute;
	margin-inline: auto;
	width: 100%;
	padding-inline: 2rem;
	background-image: url('../images/hookos-bg-img.jpg');
	background-size: cover;
	background-position-x: 2%;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	z-index: 1;
	inset: 0;
}

#home::after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	/* background-image: radial-gradient( #afa9a9,#525151 40%); */
	background-color: black;
	opacity: .2;
	z-index: -1;
}

.show-modal {
	font-size: 3rem;
	padding: 1rem 3rem;
	border-radius: 0;
}

.footer {
	margin-block: 6rem 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	color: #afa9a9;
}

/*============ SOCIAL ICONS ================== */
.socials {
	width: 100%;
	padding: 1rem;
	display: flex;
	gap: 2rem;
	justify-content: center;
	align-items: center;
}

.socials__link {
	margin-right: 1rem;
	display: inline-block;
}

.social__link--icon {
	width: 3rem;
	filter: invert(100%);
	transition: all 0.2s ease-in-out;
	transform-origin: left;
}

.social__link--icon.tiktok {
	filter: none;
}

.social__link--icon:hover {
	scale: 1.2;
}

/* ============ FORM ============== */
.form-container {
	width: 100%;
	max-width: 60rem;
	margin-inline: auto;
	padding: 4rem;
	display: block;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s;
}

/* =============== FORM MODAL =============*/
.close-modal {
	width: 100%;
	margin: 2rem;
	display: flex;
	justify-content: end;
}

.close-btn {
	width: 2rem;
	aspect-ratio: 1/1;
	cursor: pointer;
}

.form {
	display: flex;
	align-items: center;
	flex-direction: column;
	max-width: 50rem;
	margin-inline: auto;
}

/* ============ FORM HEADING ===========*/
.heading {
	font-size: 2.5rem;
	margin-bottom: 4rem;
}

.form__item {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.7rem;
	margin-bottom: 2rem;
}

.form__item--label {
	text-transform: capitalize;
	padding-left: 1rem;
}

.form__item--input,
#country {
	height: 4rem;
	width: 100%;
	padding: 0.5rem;
	font-size: 1.6rem;
	border-radius: 0.5rem;
	border: 2px solid;
	outline: unset;
}

.form__item--input::placeholder {
	font-size: 1.4rem;
}

.form-btn {
	margin-top: 4rem;
}

/*============== UTILITY CLASS ==========*/
.hidden {
	display: none;
}

/*============= MEDIA QUERIES ===========*/
@media screen and (min-width: 720px) {
	.btn:hover {
		background-color: transparent;
		color: rgb(24, 23, 23);
	}

	.toggle,
	.toggle.active, 
	#home::after  {
		display: none;
	}

	.navigation,
	.navigation.hidden {
		flex-direction: row;
		display: flex;
		position: static;
		background-color: transparent;
		margin-right: 2rem;
		width: max-content;
	}

	#home {
		background-size: contain;
		background-position: center;
		background-color: rgb(100,149,207, .7);
		background-blend-mode: screen;
	}

	.navigation-link {
		font-size: 1.8rem;
	}

	.show-modal {
		font-size: 2rem;
		margin-right: 14rem;
	}

	.show-modal:hover {
		color: #fff;
		background-color: rgb(24, 23, 23);
	}

	.navigation-link:hover {
		border-bottom: 2px solid rgb(23, 23, 24);
		padding-bottom: 0;
	}

	.footer {
		margin-top: 6rem;
		color: black;
	}

	.socials__link {
		margin-right: 2rem;
	}
}
